*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#logo{
    width: 100%;
    max-width: 1600px;
    background-color: #ffffff;
    /* border: 1px solid red; */
    margin: 0 auto;
}

#logo .logo-container{
    display: flex;
    justify-content: space-around;
}

#logo .logo-container img{
    width: 139px;
    height: 60px;
    margin: 16px 0;
}

.menu ul{
    display: flex;
    gap: 32px;
    text-decoration: none;
    color: #0000;
    margin: 34px 0;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#btn{
    width: 164px;
    height: 44px;
    margin: 24px 0;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #ffffff;
    cursor: pointer;
}

#btn:hover{
    width: 164px;
    height: 44px;
    margin: 24px 0;
    border: none;
    border-radius: 4px;
    background-color: #6c7e73;
    color: #2a2727;
    cursor: pointer;
}

#banner{
    width: 100%;
    height: 520px;
    max-height: 674px;
    max-width: 1600px;
    /* margin: 0 auto; */
    background-image: url(../assets/hero-bg.png);
    text-align: center;
    padding-top: 115.5px;
    align-items: center;
    padding-bottom: 179.5px;
}

#banner .banner-content{
    background-color: #ffffff;
    color:#30B868;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    padding: 6px 12px 8px 34px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#banner .banner-heading{
    color: #ffffff;
    padding: 16px;
    text-align: center;
}

#banner h1 .text-color{
    color: #30B868;
}

.text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 770px;
    margin: 0 auto;
    padding-top: 16px;
}

.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.hidden{
    visibility: hidden;
}

.btn-no-background{
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #0000;
    color: #ffffff;
    width: 198px;
    height: 52px;
    padding-right: 16px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}

    
    .btn:hover{background-color: #20eb74;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #4e4545;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn-no-background:hover{
    border: 1px solid #ff3535;
    border-radius: 4px;
    background-color:blanchedalmond;
    color: #5d3e3e;
    width: 198px;
    height: 52px;
    padding-right: 16px;
    cursor: pointer;
    margin-top: 16px;
}


.size-small{
    width: 20px;
    height: 20px;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 1000px;
    vertical-align: middle;
    margin: 16px 10px;
}