*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#logo{
    width: 100%;
    max-width: 1600px;
    background-color: #ffffff;
    /* border: 1px solid red; */
    margin: 0 auto;
}

#logo .logo-container{
    display: flex;
    justify-content: space-around;
}

#logo .logo-container img{
    width: 139px;
    height: 60px;
    margin: 16px 0;
}

.menu ul{
    display: flex;
    gap: 32px;
    text-decoration: none;
    color: #0000;
    margin: 34px 0;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#btn{
    width: 164px;
    height: 44px;
    margin: 24px 0;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #ffffff;
    cursor: pointer;
}

#btn:hover{
    width: 164px;
    height: 44px;
    margin: 24px 0;
    border: none;
    border-radius: 4px;
    background-color: #6c7e73;
    color: #2a2727;
    cursor: pointer;
}

#banner{
    width: 100%;
    height: 674px;
    max-height: 674px;
    max-width: 1600px;
    /* margin: 0 auto; */
    background-image: url(../assets/hero-bg.png);
    text-align: center;
    padding-top: 115.5px;
    align-items: center;
    padding-bottom: 179.5px;
}

#banner .banner-content{
    background-color: #ffffff;
    color:#30B868;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    padding: 6px 12px 8px 34px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#banner .banner-heading h1{
    color: #ffffff;
    padding: 16px;
    text-align: center;
    font-size: 72px;
}

#banner h1 .text-color{
    color: #30B868;
    font-size: 72px;
}

.text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 770px;
    margin: 0 auto;
    padding-top: 16px;
}

.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 16px;
}

.btn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.hidden{
    visibility: hidden;
}

.btn-no-background{
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #0000;
    color: #ffffff;
    width: 198px;
    height: 52px;
    padding-right: 16px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}

    
    .btn:hover{background-color: #20eb74;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #4e4545;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn-no-background:hover{
    border: 1px solid #ff3535;
    border-radius: 4px;
    background-color:blanchedalmond;
    color: #5d3e3e;
    width: 198px;
    height: 52px;
    padding-right: 16px;
    cursor: pointer;
    margin-top: 16px;
}


.size-small{
    width: 20px;
    height: 20px;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 1000px;
    vertical-align: middle;
    margin: 16px 10px;
}

.header-titles h1{
    /* font-size: 48px; */
    font-weight: bold;
    color: #001931;
    margin-top: 45px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
    max-width: 1600px;
}

.header-titles p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    width: 100%;
    max-width: 1600px;
}

#notes {
    margin: 0 auto;
    text-align: center;
    width: 92%;
    max-width: 1600px;
    height: 300px;
    background-color: #ffffff;
    display: flex;
}

#notes .header-title{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 45px;
    margin-bottom: 16px;
}

#notes .header-titles  .description{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 44px;
}

.card{
    width: 322px;
    height: 300px;
    margin: 24px;
    /* border: 1px solid red; */
    box-shadow: 0 4px 20px rgb(206, 200, 200);
    padding-top: 69.5px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
}

.card-info img{
    background-color: #F95555;
    border-radius: 1000px;
    width: 60px;
    height: 60px;
    padding: 14px;
}

.card-info h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.card-info p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

#brain{
    
    display: flex;
    width: 100%;
    max-width: 1360px;
    height: 600px;
    margin: 120px;
    background-color: #ffffff;
}

#brain .section-message{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-top: 222px;
    margin-left: 60px;
    margin-bottom: 16px;
}

#brain .brain-title-section{
    width: 525px;
}

#brain .brain-title-section h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}

#brain .brain-title-section-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    padding-bottom: 40px;
}

#brain .li-items {
    color:#001931;
    margin-bottom: 16px;
    line-height: 35px;
}

#brain .li-items img{
    vertical-align:middle;
    margin-right: 6px;
}

#main-part{
    /* border: 1px solid red; */
    background-color: #F7F6F2;
    width: 1360px;
    max-width: 1600px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
}

#main-part .challenge-container{
    width: 590px;
    max-width: 1360px;
    max-height: 506px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 12px;
    padding-top: 80px;
}

#main-part .challenge-container-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

#main-part .challenge-container-title-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}

.btn .margin-left img{
    margin-left: 10px;
}

.footer-logo{
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
    margin-top: 120px;
    padding: 120px 120px 0 120px ;
    justify-items:flex-end;
    vertical-align: middle;
}

.logo-size img{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 1000px;
    margin-bottom: 164px;
    
}

.footer-logo .logo-footer{
    width: 139px;
    height: 60px;
}

.social{
    color: #ffffff;
    
   
}

div #line{
    color: #F7F6F2;
    border-top: #F7F6F2 solid 1px;
    margin-right: 511px;
    padding-bottom: 30px;
    padding-top: 16px;
}